{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Пост {{ post.text|truncatechars:30 }}{% endblock %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
        {% if post.group %}
          <li class="list-group-item">
            Группа: {{ post.group.title }}
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
          </li>
        {% endif %}
        <li class="list-group-item">
          Автор: {{ post.author.get_full_name|default:post.author.username }}
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора: <span>{{ posts_count }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        </li>
      </ul>
    </aside>

    <article class="col-12 col-md-9">
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}" alt="{{ post.text|truncatechars:30 }}">
      {% endthumbnail %}
      <p>{{ post.text|linebreaksbr }}</p>
      {% if post.author == user %}
        <a class="btn btn-sm btn-primary" href="{% url 'posts:post_edit' post.id %}">Редактировать</a>
      {% endif %}
    </article>
  </div>

  
  <div class="row mt-5">
    <div class="col-12 col-md-9 offset-md-3">
      {% if user.is_authenticated %}
        <div class="card my-4">
          <h5 class="card-header">Добавить комментарий:</h5>
          <div class="card-body">
            <form method="post" action="{% url 'posts:add_comment' post.id %}">
              {% csrf_token %}
              <div class="form-group mb-2">
                {{ form.text }}
              </div>
              <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
          </div>
        </div>
      {% endif %}

      {% if comments %}
        <div class="card my-4">
          <h5 class="card-header">Комментарии:</h5>
          <div class="card-body">
            {% for comment in comments %}
              <div class="media mb-3">
                <div class="media-body">
                  <h6 class="mt-0">
                    <a href="{% url 'posts:profile' comment.author.username %}">
                      {{ comment.author.get_full_name|default:comment.author.username }}
                    </a>
                    <small class="text-muted ml-2">{{ comment.created|date:"d E Y H:i" }}</small>
                  </h6>
                  <p>{{ comment.text|linebreaksbr }}</p>
                </div>
              </div>
              {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
          </div>
        </div>
      {% else %}
        <p class="text-muted">Комментариев пока нет. Будьте первым!</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}