{% extends "base.html" %}
{% block title %}Профайл пользователя {{ author.get_full_name|default:author.username }}{% endblock %}
{% block content %}
<div class="container py-5">
  <h1>Все посты пользователя {{ author.get_full_name|default:author.username }}</h1>
  <h3>Всего постов: {{ post_count }}</h3>
  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name|default:post.author.username }}
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|linebreaksbr }}</p>
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
      {% if post.group %}
        <br><a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      {% if post.author == user %}
        <br><a class="btn btn-sm btn-primary" href="{% url 'posts:post_edit' post.id %}">Редактировать</a>
      {% endif %}
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% empty %}
    <p>У пользователя ещё нет постов.</p>
  {% endfor %}
  {% include 'includes/paginator.html' %}
</div>
{% endblock %}

{% extends "base.html" %}

{% block title %}Профайл пользователя {{ author.get_full_name|default:author.username }}{% endblock %}

{% block content %}
<div class="container py-5">
  <h1>Все посты пользователя {{ author.get_full_name|default:author.username }}</h1>
  <h3>Всего постов: {{ page_obj.paginator.count }}</h3>

  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name|default:post.author.username }}
          <a href="{% url 'posts:profile' post.author.username %}">все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|linebreaksbr }}</p>
      {% if post.group %}
        <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
      {% endif %}
      <a href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% empty %}
    <p>У пользователя пока нет постов.</p>
  {% endfor %}

  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}

{% if post.group %}
  <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
{% endif %}